*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width:100%;
    height:80px;
    background-color: rgb(50, 48, 48);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    position:fixed;
    top:0%;

}
nav .image{
    width:90px;
    height:45px;
}
/* .hide{
    visibility:hidden;
} */

a{
    color:white;
    font-size: large;
    text-decoration: none;
}
input{
    width:34%;
    height:37px;
    border-radius: 9px;
}
input:hover{
    border: 2px solid coral;
    opacity:0.7;
}
select{
    padding: 10px;
    background-color: coral;
    border: 1px solid grey;
}
select option{
    background-color:black;
    color:coral;
    padding:10px 40px;
    visibility: visible;
}
i{
    color:white;
    font-size:large;
}
i:hover{
    color:coral;
}
a:hover{
    padding:10px 10px;
    border: 2px solid coral;

}
/* media query add for nav bar */

@media (max-width:600px){
    nav{
        width:100%;
        height:300px;
        background-color: rgb(122 122 13);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    /* .hide{
        visibility:hidden;
    } */
    a{
        color:black;
        font-size: 22px;
        text-decoration: none;
        border-bottom: 1px solid lightblue;
    }
    /* a:hover{
        border: 1px solid white;
        background-color:rgb(223, 134, 9);
    } */
    a select{
        display: block;
        padding:5px;
        background-color: beige;
        border:1px solid coral;
    }

    select option{
        display:block;
        padding:10px;

    }
    input{
        width:10%;
        height:20px;
        border-radius: 9px;
        visibility: hidden;
    }
    input:hover{
        border: 2px solid coral;
        opacity:0.7;
    }
    i{
        color:white;
        font-size: x-large;
        visibility: hidden;
    }
    i:hover{
        color:coral;
    }
    a:hover{
        padding:10px 10px;
        border: 2px solid coral;
    
    }
}
/* media query of nav end here */

main{
    width:100%;
    height:530px;
    background-image: url(images/hero2.jpg);
    background-size:cover ;
}
@media (max-width:600px){
      main{
        width:100%;
        height:480px;
        background-image: url(images/hero2.jpg);
        background-size:cover ;
}
}
/* hero section finished */

aside{
    width:100%;
    height:300px;
    /* background-color:rgb(241, 122, 79); */
    display:flex;
    overflow-y: scroll;
    padding:5px;
    
}
h1{
    color:grey;
    margin-top: 0px;

}

div{
    margin: 10px;
    margin-top: 10px;
}
div h2{
    color:rgb(107, 29, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    background-color: rgb(238, 54, 85);
    padding:5px;
}

@media (max-width:600px){
    aside{
        width:100%;
        height:600px;
        /* background-color:rgb(241, 122, 79); */
        display:flex;
        flex-wrap:wrap;
        
    }
    h1{
        color:rgb(9, 61, 87);
        margin-top: 0px;
    
    }
    div{
        width:200px;
        height:50px;
        margin:20px 30px;
        margin-top: 8px;
        background-color: azure;
    }
    img{
        width:200px;
        height:200px;
    }
    div h2{
        color:coral;
        font-family:'Times New Roman', Times, serif;
    }
    span{
        background-color: rgb(238, 54, 85);
        padding-top:5px;
        border-radius: 20px;
        margin-top:10px;
        
    }
}
/* media query aside end here */

figure{
    width:100%;
    height:550px;
    background-image: url('images/hero.jpg');
    background-size:cover ;
}
@media(max-width:600px){
    figure{
        width:100%;
        height:400px;
        background-image: url('images/hero.jpg');
        background-size:cover ;
    }
}
/* figure media query end */
footer{
    width:100%;
    height:370px;
    background-color: rgb(10, 10, 10);
    display:flex;
    justify-content:space-evenly;
}
footer a{
    color:white;
    font-size: small;
    border-bottom:1px solid coral;
    margin: 50px;
    opacity:0.5;
}
a:hover{
    border-bottom:1cap solid coral; 
}
/* media query of footer */
@media(max-width:600px){
    footer{
        width:100%;
        height:650px;
        background-color: rgb(10, 10, 10);
        display:flex;
        flex-wrap:wrap;
      
    }
    footer a{
        color:rgb(218, 147, 24);
        font-size: 10px;
        border-bottom:1px solid coral;
        margin:5px;
        cursor:arrow;
        font-weight: bold;

    }
    a:hover{
        border-bottom:1cap solid coral; 
        display:block;
    }
}
/* media query ended */
.foot{
    width:100%;
    height:40px;
    background-color: rgb(172, 172, 165);
    text-align: center;
 
}
.foot i{
    color:blue;
    margin-top:10px;
    font-size:x-large;
    
}
@media(max-width:600px){
    .foot{
        width:100%;
        height:40px;
        background-color: rgb(122 122 13);
        text-align: center;
     
    }
    .foot i{
        color:rgb(44, 17, 132);
        visibility: visible;
        color:rgb(19, 13, 5);
        border-bottom: 1px solid blue;
        
    }
}
/* end here amazone.in */

